<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Todo App MVC</title>
</head>

<body>
    <h2 style="text-align: center; padding-bottom: 10px">Todo app with ASP NET Core MVC</h2>
    @RenderBody()
</body>

</html>