@model TodoMVC.Contracts.TodoViewModel
@using TodoMVC.Models

<h2>Create new todo</h2>

<form asp-controller="home" asp-action="createtodo" method="post">
    <p>
        <label asp-for="Name"></label>
        <input asp-for="Name">
    </p>
    <p>
        <label asp-for="Status"></label>
        <select asp-for="Status" asp-items="Html.GetEnumSelectList<Status>()"></select>
    </p>
    <p>
        <button type="submit">Submit</button>
    </p>
</form>